@import url('https://fonts.google.com/specimen/Rubik');

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}
h2 {
  font-size: 1.2rem;
  color: #fffddc;
}
.questions h2 {
  font-weight: 600;
}
body {
  background: #007bff;
  background: linear-gradient(to right, #DDD, #FFF);
  position: relative;
  min-height: 100%;
  font-family: Rubik, Arial, sans-serif;
  color: #fffddc;
  line-height: 1.1;
  background: url(../images/10.jpg);
}
#carousel {
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
}
/* .questions button {
  padding: 0;
} */
.tr-next-button,
.btnfinal a {
  text-transform: uppercase;
  border-radius: 1rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.9rem;
  /* font-weight: 700; */
  min-width: 40%;
  display: inline-block;
  transition: all .2s linear;
  margin: 0 5px;
  box-shadow: 0px 0px 15px #000;
}
.material-icons {
  font-size: 2.3rem;
}






.animate {
  font-size: 50px;
  margin: 5px 0;
}
.three span {
  color: #56b674;
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  animation: sideSlide .5s forwards;
  font-weight: 600;
}
.animate span {
  display: inline-block;
}
.animate span:nth-of-type(2) {
  animation-delay: .05s;
}
.animate span:nth-of-type(3) {
  animation-delay: .1s;
}
.animate span:nth-of-type(4) {
  animation-delay: .15s;
}
.animate span:nth-of-type(5) {
  animation-delay: .2s;
}
.animate span:nth-of-type(6) {
  animation-delay: .25s;
}
.animate span:nth-of-type(7) {
  animation-delay: .3s;
}
.animate span:nth-of-type(8) {
  animation-delay: .35s;
}

@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #56b674;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #56b674;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: #56b674;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #fff444;
	}
}












.btn-4 {
  overflow: hidden;
  position: relative;
}

.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}

.btn-4:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}





















.btn-no {
  color: #fff;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  background: #756c6c;
}
.img-thumbnail {
  border: 10px solid #57595b;
}
.btn-yes,
a.btn-yes {
  color: #fff;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  background: #56b674;
}
.card-title {
  color: #fff444;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.6rem;
}
.card {
  padding: 10px;
}
.large_text {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.3rem;
}
.questionside {
  text-align: center;
  background-color: rgba(23,3,37,.7);
  border-radius: 2.2rem;
  padding: 10px 35px;
}
.questiontitle {
  color: #fff444;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
}
.btn-primary.active,
.btn-primary:active,
.btn.active {
  background-color: green !important;
  border-color: green;
}
.step {
  display: none;
}
/*loading*/
.loader {
  position: relative;
  margin: auto;
  width: 350px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 250%;
  background: linear-gradient(180deg, #3b5998 0, #eee 100%);
  box-shadow: inset 0 5px 20px black;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.loader:after {
  content: "";
  display: table;
  clear: both;
}
.loader span,
.covers span {
  float: left;
  height: 100px;
  line-height: 120px;
  width: 50px;
}
.loader > span {
  border-left: 1px solid #eee;
  border-right: 1px solid #3b5998;
}
.covers {
  position: absolute;
  height: 100%;
  width: 100%;
}
.covers span {
  background: linear-gradient(180deg, #000000d1 0, #0f2a8f 100%);
  animation: up 2s infinite;
}
@media screen and (max-width: 600px) {
  .sideimage {
    width: 50%;
  }
}
@keyframes up {
  0% {
    margin-bottom: 0;
  }
  16% {
    margin-bottom: 100%;
    height: 20px;
  }
  50% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 0;
  }
}
.covers span:nth-child(2) {
  animation-delay: .142857s;
}
.covers span:nth-child(3) {
  animation-delay: .285714s;
}
.covers span:nth-child(4) {
  animation-delay: .428571s;
}
.covers span:nth-child(5) {
  animation-delay: .571428s;
}
.covers span:nth-child(6) {
  animation-delay: .714285s;
}
.covers span:nth-child(7) {
  animation-delay: .857142s;
}
.text1,
.text2,
.text3,
.buttonload,
.text1a,
.text2a,
.text3a,
.text4a,
.text5a,
.text6a,
.text7a,
.text8a,
.text9a,
.btnfinal {
  display: none;
}
.number {
  width: 2rem;
  height: 2rem;
  color: #fff;
  border-radius: 50%;
  background: #dc3545;
  line-height: 2rem;
  text-align: center;
  font-size: 1.8rem;
  display: inline-block;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .notification {
    top: 0px;
    width:100%;
    height:3.2rem;
  }
  .card-title{
    font-size: 2rem;
  }
  h2{
    font-size: .75rem;
  }
  .questiontitle{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.5rem;
  }
  body{
    font-size: ;
  }
  .desktoponly{
    display:none!important;
  }
}

.notification {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  background: rgba(0, 0, 0, .68);
  text-align: center;
  font-size: 1rem;
  z-index: 1;
  overflow: hidden;
}
.notification a {
  font-size: 1rem;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  color: #fff!important;
  background-color: 099eff!important;
  border-color: #005cbf!important;
}
.topclose{
  position: fixed !important;
  top: 0 !important;
  ;
  right:0 !important;
  border:2px solid #fff;
  z-index: 999!important;
}
.topclose span{
  font-size: 1.5em;
  padding:0 2px;
  font-weight: bolder;
  margin:0 !important;
}
